
body {
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
    max-width: 900px;
}

/* header */
header {
    background-color: white;
    color: black;
    font-weight: bold;
    height: 75px;
}

header h1 {
    font-size: 225%;
    margin: 50px 0px 0px 140px;
}

/* h1 on home page */
#title {
    color: salmon;
}

/* site navigation */
nav#site-nav {
    margin-bottom: 50px;
    margin-left: 180px;
}

nav#site-nav ul {
    list-style-type: none;
}

nav#site-nav ul li {
	display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 145%;
	padding-right: 1.6em;
}

nav#site-nav a:link, a:visited, a:hover, a:active {
	color: darkgrey;
	text-decoration: none;
}

a#youarehere {
    color: black;
    font-weight: bold;
}

/* quote on home page */
.quote {
    margin-top: 125px;
}

.quote p {
    color: darkgrey;
    font-family: 'Comfortaa', cursive;
    font-size: 120%;
    line-height: 200%;
    margin-left: 280px;
    text-align: left;
}

.quote span {
    color: salmon;
}

#author {
    font-style: italic;
    font-size: 100%;
    margin-left: 362.5px;
}

/* footer on home page */
footer {
    clear: both;
    margin-top: 125px;
}

img {
    float: left;
    margin-left: 220px;
    height: 12%;
    width: 12%;
}

footer h2 {
    float: left;
    font-family: 'Comfortaa', cursive;
    font-size: 110%;
    font-weight: bold;
    line-height: 35px;
    margin-left: 150px;
    text-align: right;
}

#top {
    color: black;
}

#bottom {
    color: salmon;
}

/* p5 canvas */
#mycontainer {
    margin: 50px 0px 0px 140px;
}

/* media queries */
@media only screen and (max-width: 640px),
    only screen and (max-width: 667px),
    only screen and (max-width: 480px) {
    nav#site-nav {
        margin-left: 140px;
    }
    nav#site-nav ul li {
        font-size: 145%;
    	padding-right: 2em;
    }
}
