
body {
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
    width: 100%;
}

/* header */
header {
    background-color: white;
    color: black;
    font-style: bold;
    height: 75px;
    margin: 50px 0px 0px 140px;
}

header h1 {
    font-size: 210%;
}

/* site navigation */
nav#site-nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 145%;
    margin-left: 160px;
}

nav#site-nav ul {
	list-style-type: none;
    margin-right: 15px;
}

nav#site-nav ul li {
	display: inline;
	padding-left: 1.5em;
}

nav#site-nav a:link, a:visited, a:hover, a:active {
	color: darkgrey;
	text-decoration: none;
}

a#youarehere {
    color: black;
    font-weight: bold;
}

#description {
    background-color: rgb(232, 232, 232);
    border: 3px solid red;
    clear: all;
    height: 100px;
    margin: 900px 50px 0px 12.5px;
    padding: 30px 20px 0px 75px;
    width: 925px;
}

/* quote on home page */
#description p {
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
    padding-right: 50px;
}

#image1, #image3 {
    padding-right: 15px;
}

#image1 {
    float: left;
}

#image2 {
    float: right;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-right: 40px;
}

#image3 {
    float: left;
}

#mycontainer {
    margin: 50px 0px 0px 140px;
}
