
body {
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
    width: 100%;
}

/* header */
header {
    background-color: white;
    color: black;
    font-weight: bold;
    height: 75px;
}

header h1 {
    font-size: 225%;
    margin: 50px 0px 0px 140px;
}

/* h1 on home page */
#title {
    color: salmon;
}

/* site navigation */
nav#site-nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    margin-bottom: 50px;
    margin-left: 145px;
}

nav#site-nav ul {
	list-style-type: none;
    margin-right: 15px;
}

nav#site-nav ul li {
	display: inline;
	padding-left: 1.5em;
}

nav#site-nav a:link, a:visited, a:hover, a:active {
	color: darkgrey;
	text-decoration: none;
}

a#youarehere {
    color: black;
    font-weight: bold;
}

/* quote on home page */
.quote {
    margin-top: 125px;
}

.quote p {
    color: darkgrey;
    font-family: 'Comfortaa', cursive;
    font-size: 120%;
    line-height: 200%;
    margin-left: 280px;
    text-align: left;
}

.quote span {
    color: salmon;
}

#author {
    font-style: italic;
    font-size: 100%;
    margin-left: 400px;
}

/* footer on home page */
footer {
    clear: both;
    margin-top: 125px;
}

img {
    float: left;
    margin-left: 220px;
    height: 12%;
    width: 12%;
}

footer h2 {
    float: left;
    font-family: 'Comfortaa', cursive;
    font-size: 110%;
    font-weight: bold;
    line-height: 35px;
    margin-left: 70px;
    text-align: right;
}

#top {
    color: black;
}

#bottom {
    color: salmon;
}

/* p5 canvas */
#mycontainer {
    margin: 50px 0px 0px 140px;
}

/* media queries */
@media only screen and (min-width: 375px) and (max-width: 667px) {
    nav#site-nav {
        font-size: 100%;
        margin-left: 125px;}
    }
}

@media only screen and (min-width: 1100px) {
	body {
		width: 82.5%;
	}
}
@media only screen and (min-width: 1100px) {
	body {
		width: 82.5%;
	}
}
@media only screen and (min-width: 1200px) {
	body {
		width: 80%;
	}
}

@media only screen and (min-width: 1300px) {
	body {
		width: 75%;
	}
}

@media only screen and (min-width: 1350px) {
	body {
		width: 70%;
	}
}

@media only screen and (min-width: 1600px) {
	body {
		width: 60%;
	}
}

@media only screen and (min-width: 1800px) {
	body {
		width: 50%;
	}
}
@media only screen and (min-width: 2000px) {
	body {
		width: 45%;
	}
}
